.center {
    margin: 0 auto;
    text-align: center;
    display: block;
}

.img-fluid {
    max-width: 34em;
    padding: 2em;
}

.blog-content {
    max-width: 800px;
    margin: 0 auto;
}

.walletAddress {
    overflow-wrap: anywhere;
	user-select: all;
}

.button {
    margin: 6px;
}